[submodule "Analyzer"]
	path = Analyzer
	url = git@github.com:dntaylor/DevTools-Analysis.git
[submodule "Ntuplizer"]
	path = Ntuplizer
	url = git@github.com:dntaylor/DevTools-Ntuplizer.git
	branch = 76X
[submodule "Plotter"]
	path = Plotter
	url = git@github.com:dntaylor/DevTools-Plotting.git
